django==1.5.1
bpython==0.12
django-braces==0.2.1
django-model-utils==1.1.0
South==0.7.6
logutils==0.3.3
psycopg2==2.4.6
boto==2.6.0
gunicorn==0.17.0
django-storages==1.1.4
dj-database-url==0.1.2
newrelic