{% extends "base.html" %}

{% block title %}{{ site.name }} Shortener{% endblock %}

{% block page_title %}{{ site.name }} Shortener{% endblock page_title %}

{% block nav_home %}{{ site.name }} Shortener{% endblock nav_home %}

{% block content %}

<h2>What is this?</h2>
<p>This is an implementation of the URL shortening project, <a href="https://github.com/pydanny/shortener_project">shortener_project</a>.</p>

<h2>What are it's current features?</h2>

<ul>
    <li>base64 conversion of link primary keys.</li>
    <li>Custom shortened link names like '/django-project/'.</li>
    <li>Gathers link metrics but preserves the anonymity of the user.</li>
</ul>

<h2>What are it's planned features?</h2>

<ul>
    <li>geoplacement of users.</li>
    <li>Fancy dashboard charts and graphs.</li>
    <li>Incorporation into a forthcoming Django tutorial.</li>
</ul>


<h2>Contribute!</h2>

<ol>
    <li>Fork on github: 
        <a href="https://github.com/pydanny/shortener_project">github.com/pydanny/shortener_project</a>
    </li>
    <li>Contribute financially via gittip. All contributors have their Gittip accounts linked:
        
        <ul>
            <li>
                <a href="https://gittip.com/pydanny">pydanny</a>
            </li>
        </ul>
        
    </li>
</ol>

{% endblock content %}