{% extends "base.html" %}

{% block page_title %}{{ site.name }} Shortener{% endblock page_title %}

{% block nav_home %}{{ site.name }} Shortener{% endblock nav_home %}

{% block content %}
<hr />
<h2>What is this?</h2>
<p>This is an implementation of the URL shortening project, <a href="https://github.com/pydanny/shortener_project">shortener_project</a>.</p>

<h2>What are its current features?</h2>

<ul>
    <li>base64 conversion of link primary keys.</li>
    <li>Custom shortened link names like '/django-project/'.</li>
    <li>Gathers link metrics but preserves the anonymity of the user.</li>
</ul>

<h2>What are its planned features?</h2>

<ul>
    <li>Account creation so you can manage your links.</li>
    <li>Fancy dashboard charts and graphs.</li>
</ul>

{% endblock content %}