{% extends "base.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block page_title %}{% endblock page_title %}

{% block content %}

<table class="table table-condensed">
    <thead>
        <tr>
            <th></th>
            <th><a href="?order=-created">Age</a></th>
            <th><a href="?order=-linklog__count">Count</a></th>
            <th>Tiny</th>
            <th>Shorter</th>
            <th>Target</th>
        </tr>
    </thead>
    <tbody>
        {% for link in link_list %}
            <tr>
                <td>{{ link.pk }}<a href="{% url 'links:detail' link.tiny %}">info</a></td>
                <td>{{ link.created|timesince }}</td>
                <td>{{ link.linklog__count }}</td>
                <td><a href="{{ link.get_tiny_url }}">{{ link.tiny }}</a></td>
                <td><a href="{{ link.get_identifier_url }}">{{ link.identifier }}</a></td>
                <td>{{ link.original_url|urlize }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock content %}