{% extends "base.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block page_title %}Link Info{% endblock page_title %}

{% block content %}

<p><strong>Target URL</strong>: {{ link.original_url|urlize }}</p>
<p><strong>Tiny</strong>: <a href="{{ link.get_tiny_url }}">{{ link.tiny }}</a></p>
<p><strong>Shorter</strong>: <a href="{{ link.get_identifier_url }}">{{ link.identifier }}</a></p>
<p><strong>Total Count</strong>: {{ link.count }}</p>

{{ dates }}

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Date</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for count in counts %}
            <tr>
                <td>{{ count.date|date:"m/d/Y" }}</td>
                <td>{{ count.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock content %}